<mat-card-title>
    {{ titulo }}
  </mat-card-title>
  
  <mat-card-content>
  
    <form class="form-container">
  
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Informe a descrição do vídeo" required
          name="video" [(ngModel)]="video.descricao">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select placeholder="Selecione a categoria do video" required name="categoria" [(ngModel)]="video.categoria">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria._id">
            {{ categoria.descricao }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Url</mat-label>
        <input matInput placeholder="Informe a url do vídeo" required
          name="video" [(ngModel)]="video.url">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Duração</mat-label>
        <input matInput placeholder="Informe a duração do vídeo" required
          name="video" [(ngModel)]="video.duracao">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Resumo</mat-label>
        <input matInput placeholder="Informe o resumo do vídeo" required
          name="video" [(ngModel)]="video.resumo">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Palavras chave</mat-label>
        <input matInput placeholder="Informe palavra(s) chave para o vídeo" required
          name="video" [(ngModel)]="video.palavrasChave">
      </mat-form-field>

  
    </form>
  
  </mat-card-content>
  
  <mat-card-actions class="center-buttons">
    <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
    <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
  </mat-card-actions>